// src/styles/style.scss
.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #666;
  background: rgba(0, 0, 0, 0.05);
  max-height: 300px;
  
  .message {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    .sender {
      font-weight: bold;
      margin-right: 5px;
    }
    
    .content {
      flex: 1;
    }
    
    .timestamp {
      font-size: 0.8em;
      color: #888;
      margin-left: 10px;
    }
  }
}

.message-input-container {
  display: flex;
  
  input {
    flex: 1;
    margin-right: 5px;
    height: 28px;
  }
  
  button {
    width: 36px;
    height: 36px;
  }
}